<a href="https://colab.research.google.com/github/njaramillov07/MDigital/blob/main/Clase7_12_08_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Continuacion de Funciones**

---

In [2]:
##Recordamos el ejercio de la clase pasada:

def suma(a=2,b=3, c=4, d=5):
  return a+b+c+d
suma()

suma(1)
suma(1,5)
suma(a=1, c=5)

14

In [3]:
def suma(number):
  total=0
  for i in number:
    total +=i ##+= - manera ordenada; -= manera inversa
  return total
suma([1,3,5,4])

13

In [4]:
def suma(*number):
  print(type(number))
  total=0
  for i in number:
    total +=i
  return total
suma(2,3,5,4)

<class 'tuple'>

14

In [6]:
suma(2)
suma(1,2) #Al realizar el cambio y/o edicion de la funcion suma que veniamos usando se puede a√±adir en elementos para iterar la funcion definida.

<class 'tuple'>
<class 'tuple'>

3