<a href="https://colab.research.google.com/github/njaramillov07/MDigital/blob/main/Clase5_10_08_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Continuacion de Ciclos**

---
**Ciclo FOR - Bucle FOR**

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

Para dejar claro las partes que componen el bucle FOR, vamos a dejar claro las siguientes definiciones:
1. **Iterable:** son los objetos que pueden ser iterados. Por ejemplo una lista, valor tipo cadena, etc.
2. **Iterador:** son objetos que hacen referencia a un elemento, (para hacer referencia a cada uno de los elementos hay un metodo denominado "nest" que permite hacer referencia a los elementos del conjunto.

**#for (variable) in (iterable): 
  #(bloque codigo)

Algunos ejemplos de iterables en Python son las listas, cadenas, diccionarios, tuplas, etc.

Como saber que es iterable a la hora de programar?
Podemos darnos cuenta que es iterable usando la funcion isinstance().

In [ ]:
from collections import Iterable 
lista=[1,2,3,4,5,6,7,8,9,0]
a="computador"
b=14
print(isinstance(lista,Iterable))
print(isinstance(a,Iterable))
print(isinstance(b,Iterable))

True
True
False

In [2]:
a=30
for i in a:
  printi(i)

TypeError: ignored

Para entender los Iteradores, es importante conocer la función "iter()", esta funcion puede ser llamada sobre un objeto que sea iterable, y nos devolvera un iterador.

Ejmeplo:

In [5]:
lista=(1,2,3,4,5,6,7,8,9,0)
ref=iter(lista)
print(ref)
print(type(ref))

<tuple_iterator object at 0x7f95a6c87950>
<class 'tuple_iterator'>

Al imprimir Ref es un iterador, de la clase "list_iterador". Hace referencia a la lista original y nos permie acceder a sus elementos con la funcion "next()".

Cada vez que llamemos a **next()** sobre **ref**, nos devuelve el siguiente elemento de la lista original.

Por ejemplo, quiero acceder al elemento 7, tendremos que llamar 7 veces a **next()**.

In [8]:
lista=(1,2,3,4,5,6,7,8,9,0)
ref=iter(lista)
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))

1
2
3
4
5

**Tener en Cuenta**

Existen otros iteradores para las diferentes clases:
1. str_iterador para cadenas
2. list_iterador para listas
3. set_iterador para conjuntos
4. dict_iterador para diccionarios

**For anidados**

---
Es posible anidar lor **for**, es decir, ingresar uno dentro de otro, como lo vemos  a continuacion.

In [10]:
#Vamos a crear una lista de listas lo cual conforma una especie de Matriz. 
#Recordemos que una matriz se compone de valores que se distribuyen en filas y columnas.

qa=[[1,2,3],
    [4,5,6],
    [7,8,9]]

for i in qa:
  print(i)

for i in qa:
  for j in i:
    print(j)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1
2
3
4
5
6
7
8
9

Si queremos acceder a cada elemento individualmente se procede a realizar un bucle de **for anidado** es decir un **for** se encarga de iterar las columnas y el otro las filas.

In [12]:
#Otra forma de utilizar solo el for, es la iteracion al reves, es decir, se puede Iterar la lista desde el ultimo al primer elemento.

lista=(1,2,3,4,5,6,7,8,9,0)
for i in lista[: :-1]:
  print(i)

0
9
8
7
6
5
4
3
2
1

In [20]:
lista=(1,2,3,4,5,6,7,8,9,0)
for i in lista[::2]:
  print(i)

print("--------")

a="computador"
for i in a[::2]:
  print(i)

1
3
5
7
9
--------
c
m
u
a
o

In [24]:
#Usando rango

for i in range(20):
  print(i)
#El range() genera una secuencia de numeros que van desde 0 por defecto hasta el numero .
#El numero que se pasa como parametros menos 2.

#*Estructura: range(inicio, fin, salto)

#Observemos un truco con el range: para comvertir un rango en una lista

print(list(range(2,10,2)))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
[2, 4, 6, 8]

**Listas de Comprension**

---
Estas nor permiten crear listas de elementos en una sola linea de codigo.

Ejemplo: crear una lista de las potencias a la 3 de los numeros impares de 0 a 9

In [6]:
tres=[i**3 for i in range(1,10,2)]
#1,3,5,7,9
print(tres)

print("------")

tres=[]
for i in range(1,10,2):
  tres.append(i**3)
  print(i)

print("-------")

tres=[]
for i in range(1,10,2):
  tres.append(i**3)
  print(tres)

[1, 27, 125, 343, 729]
------
1
3
5
7
9
-------
[1]
[1, 27]
[1, 27, 125]
[1, 27, 125, 343]
[1, 27, 125, 343, 729]

In [7]:
s=[1 for i in range(10)]
print(s)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [8]:
lwa=[5,10,15,20,25,30]
lwa2=[i/5 for i in lwa]
print(lwa2)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [11]:
#añadiendo condicionales con un valor cadena

pera="mama ama a Emma"
pera2=[i for i in pera if i=='m'] #numero de veces que se repite la letra en la frase
print(pera2)

print(len(pera2)) #dice la cantidad de veces que repite

['m', 'm', 'm', 'm', 'm']
5