<a href="https://colab.research.google.com/github/njaramillov07/MDigital/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción** 

---
Para manejar un código limpio en Python, podemos seguir las siguientes condiciones:

1. Manejar siempre mínusculas
2. Se le puede añadir números
3. Aparecera error si no están seguidos la declaración de las variables con el número asignado, es decir, ana1(correcto) ana 1 (incorrecto - error)

En Python hay varios tipos de datos compuestos y están disponibles por defecto en los interpretes.

**¿De que tipos?**

1. Númericos
2. Secuencias
3. Mapeos 
4. Conjuntos usados para agrupar otros valores.

**Diferencia entre constantes y Veriables**

En mátematicas llamamos constantes a una magnitud que no cambia con el paso del tiempo.

Ejemplo: Contabilidad: Gastos fijos_ Muebles de oficina

Ejemplo 2: 6

Por otro lado, el concepto de variable, como la cantidad que es susceptible a tomar distintos valores númericos.

In [2]:
x=80
print(x)

80

**Tipos de Datos**



---
**Enteros**

Son los que no tienen decimales 

Pueden ser positivos o negativos

In [6]:
a=int(3.964)
print(a)

3

El comando int es para hacer alusión a números enteros.

A parte el comando float, permite valores con decimales.

In [9]:
b=float(8.23)
print(b)

8.23

**Tipo Cadena**


---
Las cadenas de texto encerrado entre comillas (simple o dobles) y se pueden conformar de diferentes caracteres (Númericos, Albéticos, Especiales #$+*%). Tener en cuenta las cadenas admiten operadores como la suma y la resta.

In [11]:
val1="Natalia"
print(val1)

val2="Hola Mundo"
print(val2)

Natalia
Hola Mundo

In [16]:
n="Aprender"
z="Python"
w="Aprender Python"
nz=n+""+z
print(n,z)
print(w)

q="5"
p="2"
b=int(q)
c=int(p)
print(b-c)

Aprender Python
Aprender Python
3

**Tipo de Booleanos**


---
Este tipo de variable solo tendra un valor verdadero o falso.

**Nota**
Son valores muy usados en condiciones y bucles.

In [19]:
lola=True
print("El valor es verdadero:",lola,", el cual de tipo", type(lola))

El valor es verdadero True , el cual de tipo <class 'bool'>

Python cuenta con tipos de datos que admiten colecciones:
1. Listas
2. Tuplas
3. Diccionarios

**Tipo de Conjuntos**
Son una colección de datos sin elmentos que repiten

In [22]:
fru="pera","manzana", "naranja"
color="morado","blanco"
print(fru,color)

('pera', 'manzana', 'naranja') ('morado', 'blanco')

**Tipo Listas**


---
Son listas las almacenan vectores.

Las listas siempre empiezan a nombrarse desde el elemento cero(0)

Ejemplo de listas en Python.

In [25]:
ines=["5","uva","lila","perro"]
print(ines)
fe=ines[0:3:2]
print(fe)

['5', 'uva', 'lila', 'perro']
['5', 'lila']

**Tipo Tuplas**


---
Es una lista que no se puede modificar después de la creación de esta:
Tuplas anidadas: Agrupación(Tuplas).

In [26]:
tupla=23,28,"hello"
print(tupla)
otra=tupla,(1,2,3,4)
print(otra)

(23, 28, 'hello')
((23, 28, 'hello'), (1, 2, 3, 4))

**Tipo Diccionarios**


---
Define los datos uno a uno entre un campo(ID - Identificador-Clave) y un valor:

In [44]:
datos_b={
    "nombres":"Natalia",
    "apellido":"Jaramillo",
    "cedula":"1233456",
    "est_civil":"casada",
    "lugar_nacimiento":"Bogotá",
    "fecha_nacimiento":"08/08/1988", 
}

print("ID del diccionario", datos_b.keys())
print("ID del diccionario", datos_b.values())
print("ID del diccionario", datos_b.items())

ID del diccionario dict_keys(['nombres', 'apellido', 'cedula', 'est_civil', 'lugar_nacimiento', 'fecha_nacimiento'])
ID del diccionario dict_values(['Natalia', 'Jaramillo', '1233456', 'casada', 'Bogotá', '08/08/1988'])
ID del diccionario dict_items([('nombres', 'Natalia'), ('apellido', 'Jaramillo'), ('cedula', '1233456'), ('est_civil', 'casada'), ('lugar_nacimiento', 'Bogotá'), ('fecha_nacimiento', '08/08/1988')])

**Ejemplo práctico (Caracteristicas de los carros)**

In [42]:
carros_0={}
carros_0["tam"]="grande"
carros_0["color"]="azul"
carros_0["marca"]="kia"
carros_0['precio']='60'

carros_1={}
carros_1['tam']='pequeño'
carros_1["color"]="negro"
carros_1["marca"]="chevrolet"
carros_1['precio']='20'
print(carros_0)
print(carros_1)

compra0=carros_0['precio']
compra1=carros_1['precio']
compratotal=compra0+compra1
print("La compra total fue de:",compratotal)
print("La compra total fue de:"+ str(compratotal))

{'tam': 'grande', 'color': 'azul', 'marca': 'kia', 'precio': '60'}
{'tam': 'pequeño', 'color': 'negro', 'marca': 'chevrolet', 'precio': '20'}
La compra total fue de: 6020
La compra total fue de:6020